*, *::before, *::after {
  font-family: Orbitron, sans-serif;
  font-weight: normal;
}

body {
  box-sizing: border-box;
  background: #EEF0F5;
  font-family: Orbitron, sans-serif;
}

.calculator-body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonHolder {
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.output {
  min-height: 100px;
  width: 350px;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 15px;
  word-wrap: break-word;
  word-break: break-all;
  margin: 1em;
  border-radius: 20px;
  -webkit-box-shadow: inset -4px -4px 5px 0px rgba(254, 254, 255, 0.75), inset 4px 4px 5px 0px rgba(198, 206, 218, 0.75);
  -moz-box-shadow:    inset -4px -4px 5px 0px rgba(254, 254, 255, 0.75), inset 4px 4px 5px 0px rgba(198, 206, 218, 0.75);
  box-shadow:         inset -4px -4px 5px 0px rgba(254, 254, 255, 0.75), inset 4px 4px 5px 0px rgba(198, 206, 218, 0.75);
}

button {
  height:  70px;
  width:  70px;
  outline: none;
  border: none;
  font-size: 1.8em;
  background-color: #EEF0F5;
  border-radius: 50%;
  margin: .5em;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(198, 206, 218, 0.75, -4px -4px 5px 0px rgba(254, 254, 255, 0.75));
  -moz-box-shadow:    4px 4px 5px 0px rgba(198, 206, 218, 0.75), -4px -4px 5px 0px rgba(254, 254, 255, 0.75);
  box-shadow:         4px 4px 5px 0px rgba(198, 206, 218, 0.75), -4px -4px 5px 0px rgba(254, 254, 255, 0.75);
}

button:hover {
  -webkit-box-shadow: inset -4px -4px 5px 0px rgba(254, 254, 255, 0.75), inset 4px 4px 5px 0px rgba(198, 206, 218, 0.75);
  -moz-box-shadow:    inset -4px -4px 5px 0px rgba(254, 254, 255, 0.75), inset 4px 4px 5px 0px rgba(198, 206, 218, 0.75);
  box-shadow:         inset -4px -4px 5px 0px rgba(254, 254, 255, 0.75), inset 4px 4px 5px 0px rgba(198, 206, 218, 0.75);
}

.previous-operand {
  color: #EC7EDA;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.current-operand {
  color: #EC7EDA;
  font-size: 2.5rem;
  text-shadow: 3px 3px 4px rgba(202, 82, 183, 0.4) inset;
  letter-spacing: 5px;
}

.number {
  color: #EC7EDA;
  font-weight: bold;
}

.operator {
  color: #5C72E8;
}

.c {
  color: #7FC2FF;
  font-weight: bold;
}

.func {
  color: #4CE0E9;
}